<div class="container__banner">
    <div class="banner">
        <div class="banner__icon-heart">
            <img src="/img/heart_notify.png" id="icon_heart" alt="heart">
        </div>
        <div class="banner__icon-fire">
            <img src="/img/fire-dynamic-color.png" id="icon_fire" alt="fire">
        </div>
        <div class="banner__text">
            <h2>La pila moderna de inteligencia de datos en la nube para su negocio de misión crítica.</h2>
            <a href="#">Leer más</a>
        </div>
    </div>
</div>