<header>
    <div class="container__header">
        <div class="logo">
            <img src="../assets/media/logo-magtimus-small-v2-png.png" alt="logo">
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Soluciones</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Compañia</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>
            </nav>
        </div>
        <i class="fa-solid fa-bars" id="icon_menu"></i>
        <div class="header__register">
            <input type="button" value="Registrarse" class="btn__header-register">
        </div>
    </div>
</header>